.test_el {
  display: block;
  position: absolute;
  width: 466px;
  height: 604px;
  background-size: 466px 604px;
  padding-top: 466px;
  padding-bottom: 604px;
  margin-top: 233px;
  margin-bottom: 302px;
  border-width: 466px;
  border-height: 604px;
}
